<%- include('include/header'); %>


<h1>会員登録完了</h1>

<ul>
    <li>名前：<%= post_name %></li>
    <li>メールアドレス：<%= post_email %></li>
    <li>電話番号：<%= post_tel %></li>
    <li>性別：<%= post_gender %></li>
    <!-- <li>パスワード：<%= post_pass %></li> -->
</ul>

<%- include('include/footer'); %>